.intro {
  margin: 3em 0;
  text-align: center;

  img {
    height: 15em;
    border-radius: 50%;
  }

  h1, p {
    color: slategrey;
  }

  .main-title {
    font-size: 3em;
    font-family: Snell Roundhand, cursive;
  }

  .little-description{
    font-size: 1em;
    font-family: Tahoma, Geneva, sans-serif;
  }
}
