.description {
  display: flex;
  flex-direction: column;

  .line-with-space {
    display: flex;
    justify-content: space-evenly;

    .tech,
    .sport,
    .culture,
    .musique {
      width: 40%;
      padding: 1em;
      margin: 1em;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 800px) {
    .line-with-space {
      flex-direction: column;

      .tech,
      .sport,
      .culture,
      .musique {
        width: 100%;
        padding: 1em;
        margin: 0;
        box-sizing: border-box;
      }
    }
  }
}
