.description {

  display: flex;
  align-items: center;
  height: 30em;

  .left-side, .right-side {
    width: 50%;
    text-align: center;

    img {
      height: 20em;
      border-radius: 50%;
    }
  }
}
