.description {

  display: flex;
  flex-direction: column;

  .line-with-space {
    display: flex;
    justify-content: space-evenly;

    .tech, .sport, .culture, .musique {
      width: 40%;
      padding: 1em;
      margin: 1em;
      border-radius: 10px;
      &:hover {
        color: white;
        background-color: lightblue;
      }
    }
  }

  .center-elements {
    flex-direction: row;
    text-align: center;
    img {
      height: 20em;
      border-radius: 50%;
    }
  }
}
