.intro {
  display: flex;
  align-items: center;

  padding: 0 1em 1em 1em;

  .informations {
    flex-direction: column;
    color: var(--brown);

    .name {
      display: flex;
      flex-direction: row;
      align-items: center;

      .main-title {
        font-size: 3em;
        color: var(--brown);
        font-weight: 500;
        margin: 0;
      }

      .typing {
        color: var(--dark_blue);
        margin: 0 0 0 2em;
      }
    }

    .little-description {
      color: var(--dark_blue);
    }
  }

  img {
    height: 15em;
    border-radius: 50%;
    margin-top: -1em;
  }
}

nav {
  position: absolute;
  right: 2em;
  top: 3em;

  a {
    color: var(--orange);
    text-decoration: none;
    font-weight: bold;

    border: var(--orange) 1px solid;
    border-radius: 5px;
    padding: 1em;

    & :hover {
      border: transparent 1px solid;
      color: transparent;
      background-color: var(--orange);
    }
  }
}

@media (width < 800px) {
  .intro {
    flex-direction: column;
  }
  .informations {
    .name {
      .main-title {
        font-size: 2em !important;
      }

      .typing {
        margin: 0 0 0 2em !important;
      }
    }
  }
}
