#app {
  margin: 0;

  --orange: #e9a55c;
  --brown: #90807c;
  --dark_blue: #122840;
}

h1,
h2,
h3 {
  color: var(--dark_blue);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p,
li,
a {
  color: var(--dark_blue);
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p > span {
  font-size: 1.5em;
}

.white-card {
  margin: 0 5em 3em 5em;
  padding: 2em;
  box-shadow: 0 2px 22px 0 darkgrey;
}

@media screen and (max-width: 800px) {
  .white-card {
    margin: 2em 0;
    padding: 1em;
  }
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}
