.experiences {
  margin: 0 0 4em 0;
  padding: 0 4em;

  .experiences-title {
    background-color: var(--orange);
    padding: 1em;
    color: white;
    height: 3em;
  }
}

@media screen and (max-width: 800px) {
  .experiences {
    padding: 0;

    .experiences-title {
      height: 2em;
    }

    .experiences-content {
      padding: 0 2em;
    }
  }
}
