.intro {
  margin: 3em 0;
  text-align: center;
  font-family: Snell Roundhand, cursive;

  h1, p {
    color: white;
  }

  .main-title {
    font-size: 3em;
  }

  .little-description{
    font-size: 2em;
  }
}
